<p id="notice"><%= notice %></p>
<h1>Product List</h1>
<td><%= link_to 'My Cart', carts_path%></td>
<table class="<%= cycle('style_table') %>">
  <thead>
  <tr class=" <%= cycle('style_th') %>">
    <th>Image</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Description</th>
    <th>Manufacturer</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @e_shops.each do |e_shop| %>
    <tr>
      <td class="<%= cycle('style_image') %> change_width"><%= image_tag(e_shop.productImage, :class => 'image_size') %></td>
      <td class="text"><%= e_shop.productName %></td>
      <td class="text"><%= e_shop.quantity %></td>
      <!-- number_to_currency chuyen so sang chuoi va them ky tu mac dinh $-->
      <td class="text"><%= number_to_currency(e_shop.price, :unit=>'đ', delimiter: "", format: "%n %u") %></td>
      <!-- Hàm truncate() có tác dụng lấy một lượng kí tự nhất định, ở đây chúng ta lấy 80 kí tự,
      ngoài ra chúng ta còn dùng hàm strip_tags() để loại bỏ các thẻ HTML trong chuỗi cho trước.-->
      <td class="text"><%= truncate(strip_tags(e_shop.description), :length => 80) %></td>
      <td class="text"><%= truncate(strip_tags(e_shop.manufacturer), :length => 80) %></td>
      <!--Truyen id cua e_shop hien tai vao duong dan items_path-->
      <td class="text"><%= button_to 'Add to Cart', items_path(:id => e_shop) %></td>

      <td class="text"><%= link_to 'Show', e_shop %></td>
      <td class="text"><%= link_to 'Edit', edit_e_shop_path(e_shop) %></td>
      <td class="text"><%= link_to 'Destroy', e_shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add New Product', new_e_shop_path %>
