<!DOCTYPE html>
<html>
<head>
  <title>SeconProgram</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="store">
<div id="banner">
  <%#= image_tag("logo.png") %>
  <%= @page_title || "E SHOP" %>
</div>
<div id="columns">
  <div id="side">
    <div id="cart">
      <!--  current_cart lay doi tuong cart hien tai nen no se ngam dinh tao @cart-->
      <!--@cart va lien ket voi _cart.html.erb va render no vi cart hien tai la giỏ hàng cụ th
      ể nên sẽ tương đương với carts/cart_id -->
      <div style=" display:none ">
        <%= render current_cart %>
      </div>
    </div>
    <a href="#">Home</a><br />
    <a href="#">FAQ</a><br />
    <a href="#">News</a><br />
    <a href="#">Contact</a><br />
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
