<div class = "row">
  <div class = "col-xs-12">
    <%= form_for(@search, :html => {class: "form-horizontal", role: "form"}) do |f| %>

      <div class = "form-group">
        <div class = "control-label col-sm-2" >
          <%= f.label :keywords %>
        </div>
        <div class = "col-sm-8">
          <%= f.text_field :keywords, class: "form-control", placeholder:"Product Name", autofocus: true %>
        </div>
      </div>
      <div class = "form-group">
        <div class = "control-label col-sm-2" >
          <%= f.label :min_price %>
        </div>
        <div class = "col-sm-8">
          <%= f.text_field :min_price, class: "form-control", placeholder:"Min price", autofocus: true %>
        </div>
      </div>

      <div class = "form-group">
        <div class = "control-label col-sm-2" >
          <%= f.label :max_price%>
        </div>
        <div class = "col-sm-8">
          <%= f.text_field :max_price, class: "form-control", placeholder:"Max Price", autofocus: true %>
        </div>
      </div>

      <div class = "form-group">
        <div class = "control-label col-sm-2" >
          <%= f.label :manufacturer %>
        </div>

        <div class = "col-sm-8" >
          <%= f.text_field :manufacturer, class: "form-control", placeholder:"Manufacturer", autofocus: true%>
        </div>
      </div>

      <div class = "form-group">
        <div class = "control-label col-sm-2" >
          <%= f.label :description %>
        </div>
      </div>

      <div class = "form-group">
        <div class = "actions col-sm-offset-2 col-sm-10">
          <%= f.submit "Search",  class: "btn btn-success" %>
        </div>
      </div>

      <div class = "form-group">
        <div class = "col-xs-4 col-xs-offset-1" style="font-weight: bold">
          [<%= link_to "Edit Search", edit_search_path(f) %>]
        </div>
      </div>

      <div class = "form-group" >
        <div class = "control-label col-sm-2" style="font-weight: bold">
          <%= link_to 'Back', products_path%>
        </div>
      </div>
    <% end %>
  </div>
</div>


