<tr>
  <td class="<%= cycle('style_image') %> change_width"><%= image_tag(item.e_shop.productImage, :class => 'image_size') %></td>
  <td class="text"><%= item.e_shop.productName %></td>
  <td class="text"><%= item.quantity %></td>
  <!-- number_to_currency chuyen so sang chuoi va them ky tu mac dinh $-->
  <td class="text"><%= number_to_currency(item.e_shop.price, :unit=>'đ', delimiter: "", format: "%n %u") %></td>
  <!-- Hàm truncate() có tác dụng lấy một lượng kí tự nhất định, ở đây chúng ta lấy 80 kí tự,
  ngoài ra chúng ta còn dùng hàm strip_tags() để loại bỏ các thẻ HTML trong chuỗi cho trước.-->
  <td class="text"><%= truncate(strip_tags(item.e_shop.description), :length => 80) %></td>
  <td class="text"><%= truncate(strip_tags(item.e_shop.manufacturer), :length => 80) %></td>
  <td class="text"><%= number_to_currency(item.total_price, unit: 'đ', delimiter: "", format: "%n %u") %></td>

  <td class="text"><button style="text-decoration: none"><%= link_to 'By this product', by_product_path(:id => item) %></button></td>
</tr>