<%= form_with(model: e_shop, local: true) do |form| %>
  <% if e_shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(e_shop.errors.count, "error") %> prohibited this e_shop from being saved:</h2>

      <ul>
        <% e_shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :productImage %>
    <%= form.text_field :productImage %>
  </div>

  <div class="field">
    <%= form.label :productName %>
    <%= form.text_field :productName %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
